<!DOCTYPE html>

<head>
    <title>Tree View</title>
    <link href="list3.css" rel="stylesheet" />
</head>
<body>
    <div>
        <ul id="main-list">
            <li><a href="#">List item</a>
                <ul><li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                </ul>
            </li>
            <li><a href="#">List item</a></li>
            <li><a href="#">List item</a></li>
            <li><a href="#">List item</a></li>
        </ul>   
        
    </div>
</body>
</html>
