<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>presentation web site</title>
    <link href="csspresentation.css" rel="stylesheet">
</head>
<body bgcolor="powderblue">

<div id="main">
    <div id="titlu">

        <h1>numele dumneavoastra sau al firmei</h1>
    </div>
<div id="line">

        <h4>Titlu sau header</h4>


</div>
    <div id="a">


        <article>
            <h5>some title</h5>
        </article>

        <ul>
            <li><a href="#">List 1</a></li>
            <li><a href="#">List 1</a></li>
            <li><a href="#">List 1</a></li>
            <li><a href="#">List 1</a></li>
            <li><a href="#">List 1</a></li>
        </ul>


        <article>
            <h5>Counter</h5>
        </article>


    </div>

    <div id="b">

        <article>
            <h5>News</h5>
        </article>


        <p>here is a text here is a text</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid dignissimos dolor excepturi, fugit
            molestias non nostrum pariatur quod reprehenderit sapiente similique tempore velit. Cumque dolor libero
            molestiae officia voluptas.</p>
    </div>

    <div id="c">

        <article>
            <h5>Links</h5>
        </article>


        <p>some links</p>
    </div>

</div>
</div>





</body>
</html>