body{
    width: 940px;
    background-color: #eeeeee;
    border: 1px solid black;
    border-radius:5px;
    margin: 30px auto;
    font-family: verdana, sans-serif;
    font-size: 12px;
    position:relative;
    padding-bottom:40px;
}
section>nav{
    float:left;
    margin-top:15px;
    margin-left:2px;
}
a{
    color: darkred;
}
a:hover{
    color:red;
}
.home {
    padding-left:5px;
}
nav a{
    text-decoration: none;
}
li>a{
    color: black;
}
li>a:hover{
    color: black;
    text-decoration:underline;
    font-weight:bold;
}
li:first-child{
    font-weight:bold;
}
li{
    list-style:none;
    margin-left:-25px;
    padding: 0.5px 0;
}
ul{
    margin-top:18px;
}
nav div img{
    width: 23px;
    height:19px;
}
nav div a{
    color: black;
    font-weight:bold;
    font-size:13px;
}
body>section>div{
    width:600px;
    background-color:white;
    border:1px solid black;
    margin: 2px 156px;
    padding: 5px 4px 35px 4px;
}
h1{
    color:blue;
    font-size:20px;
    font-weight:bold;
    line-height: 30px;
}
button{
    width: 115px;
    height:22px;
    border:1px solid black;
    background-color:white;
}
button span{
    display:inline-block;
    color:black;
    width:110px;
    height:22px;
    font-size:12px;
    margin-top:2px;
}
button:first-child span:before{
    content:"";
    display:inline-block;
    width:0;
    height:0;
    border-right:5px solid red;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    float:left;
    margin-left:3px;
    margin-top:3px;
}
button:last-child span:before{
    content:"";
    display:inline-block;
    width:0;
    height:0;
    border-left:5px solid red;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    float:right;
    margin-right:4px;
    margin-top:3px;
}
header:after, footer:after, footer:before{
    content:"";
    display:block;
    width: 600px;
    border-bottom: 2px solid grey;
    margin-top: 5px;
    margin-bottom:5px;
}
h2, h3{
    color: white;
    background-color:grey;
    font-weight:bold;
    padding:1px 0 1px 4px;
}
h3 {
    margin: 9px 0;
}
article{
    margin-bottom:20px;
}
h2+p{
    margin-top: 15px;
    margin-bottom:15px;
}
article:first-child {
    margin-bottom: 30px;
}
article:first-child img{
    width: 100px;
    height: 100px;
    float:left;
    margin: 10px 20px 10px 0;
}
article:first-child p{
    font-weight:bold;
    margin-bottom:15px;
    margin-right: 10px;
}
article:first-child p:first-line{
    line-height:40px;
}
aside{
    width:170px;
    height:auto;
    text-align:center;
    position:absolute;
    top:2px;
    left:768px;
}
aside>div{
    border:1px solid black;
    background-color:white;
    margin-bottom:2px;
}
aside div div{
    margin:4px 8px 4px 8px;
}
aside div div p{
    background-color: #c0e6fa;
    width: 100px;
    height:30px;
    margin: 0 auto;
    line-height: 28px;
    border:1px solid #86b4d4;
    border-radius:2px;
    box-shadow: inset 0 0 1px 1px lightblue, inset 0 -1px 10px 0 #69c5f6;
    color: #39cafe;
    font-weight:bold;
}
aside div div a{
    display: block;
    padding: 1.5px 0;
}
input[type="text"]{
    width:100px;
}
input[type="submit"]{
    width:25px;
    height:20px;
}

