#wrapper, #main .top, #main .middle, #main .bottom {
    width:730px;
}

.background {
    width: 728px;
}

.background .center {
    width: 718px;
}
.content {
    width: 540px;
}
.sidebar {
    width: 149px;
}
#main .middle {
    background: url(../images/bckg-main-top.png)-160px 0 no-repeat;
}

#main .top {
    background: url(../images/bckg-main-top.png)-160px 0 no-repeat;
}
#main .bottom {
    background: url(../images/bckg-main.png)-2140px 0 no-repeat;
}

.search select {
    width :105px;
    margin-right: 2px;
    font-size: 11px;
}

.intro img {
    width: 215px;
}

.article {
    width: 260px;
}

.article .figure .article img {
    width: 252px; height: 118px;
}
.sidebar input[name="email"], .sidebar input[name="name"] {
    width: 100px;
}

.sidebar .btnMiddle {
    width: 98px;
}

#footer ul, #footer p {
    float:  left;
    margin-bottom: 10px;
}